<!doctype html>
<html lang="en">
  <head>
    <title>Bases de Vuejs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  </head>
    <style>
      li {
        list-style: none;
      }
    </style>
  <body>
    <div id="myApp" class="container my-4">
      <h1 class="text-danger text-center my-5">Batman quotes</h1>

      <input 
        type="text" 
        v-model="newQuotes"
        v-on:keypress.enter="addQuote">

      <h3><small>{{ newQuotes }}</small></h3>
      <hr>
     
      <h3>Con índice:</h3>
      <ul>
        <li v-for="({quote, author }, index) in phrases_of_heroes">
          <span>{{ index }}.- {{ quote }}</span>
          <!-- <blockquote v-if="author">-{{ author }}</blockquote> -->
          <blockquote v-show="author">-{{ author }}</blockquote>
        </li>
      </ul>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</html>